<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839790046180-98il9lckgomtlm27jv5p80540oeimpvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839790046180-98il9lckgomtlm27jv5p80540oeimpvv</string>
	<key>API_KEY</key>
	<string>AIzaSyCNTWv55OaxWjURvL4rCpNlNo1p4ZAXj-o</string>
	<key>GCM_SENDER_ID</key>
	<string>839790046180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saekgalpi.ColorBookMark</string>
	<key>PROJECT_ID</key>
	<string>colorbookmark-a9144</string>
	<key>STORAGE_BUCKET</key>
	<string>colorbookmark-a9144.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839790046180:ios:fd2ecaee09649e26aab5f1</string>
</dict>
</plist>